{% extends 'base.html.twig' %}
{% block title %}Le p'tit jardinier{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form action="{{ path('mesure') }}" method="post">
        <div>
            <input type="radio" id="Particulier" name="choix" value="Particulier" required>
            <label for="Particulier">Particulier</label>
        </div>
        <div>
            <input type="radio" id="Entreprise" name="choix" value="Entreprise" required>
            <label for="Entreprise">Entreprise</label>
        </div>
        <br/>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="nom" placeholder="Entrez votre nom" aria-label="nom" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="prenom" placeholder="Entrez votre prenom" aria-label="prenom" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="adresse" placeholder="Entrez votre adresse" aria-label="adresse" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="ville" placeholder="Entrez votre ville" aria-label="ville" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <input type="number" min="10000" max="99999" class="form-control" name="cp" placeholder="Entrez votre code postal" aria-label="cp" aria-describedby="basic-addon1">
        </div>
        <input class="btn btn-primary" type="submit" value="Suite">
    </form>


</div>
{% endblock %}
