{% extends 'base.html.twig' %}

{% block title %}Edit Haie{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Edit Haie</h1>

    {{ include('haie/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {{ include('haie/_delete_form.html.twig') }}
    <br/>
    <button class="btn btn-primary" onclick="location.href ={{ path('haie_index') }}">{{ button_label|default('Retour à la liste') }}</button>

</div>
{% endblock %}
